/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.calendarTable td {
    border: 1px solid black;
    height: 50px;
    width: 50px;
}

.div1{
    padding-top: 20px;
    padding-bottom: 20px;
}
